@use 'color-pallets' as *;

// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

// from https://css-tricks.com/snippets/sass/deep-getset-maps/
@function map-keys($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$colors: (
  primary: map-keys($pallets, purple),
  secondary: map-keys($pallets, cyan),
  neutral: map-keys($pallets, gray),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
