---
import Section from '@components/Section.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="404">
  <Section>
    <h1>404</h1>
    <p class="text-xl">This page does not exist. Don't worry though, we got you.</p>
  </Section>
  <Section>
    <div class="space-content">
      <a class="button" href="/">Take me home</a>
    </div>
  </Section>
</DefaultLayout>
