---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="404">
  <div class="container mt-12 md:mt-24">
    <h1>404</h1>
    <p class="text-xl">This page does not exist. Don't worry though, we got you.</p>
  </div>
  <div class="space-content container mt-12 md:mt-24">
    <a class="button" href="/">Take me home</a>
  </div>
</DefaultLayout>
