---
import Section from '@components/Section.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Contact">
  <Section>
    <section class="text-center">
      <div class="space-content">
        <h1>Thank you</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, quisquam.</p>
      </div>
    </section>
  </Section>
</DefaultLayout>
