---
import { PortableText } from 'astro-portabletext';
import { getCallToAction } from '@lib/sanity/companySettings';
import Icon from 'astro-icon';

const { callToAction } = await getCallToAction();
---

<div class="container">
  <div class="call-to-action my-24 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24 lg:my-48">
    <div class="prose my-12 dark:prose-invert lg:prose-2xl">
      <div class="">
        <PortableText value={callToAction} />
        <a class="button has-icon" href="/contact">
          <Icon pack="ion" name="paper-plane-outline" alt="" />
           Send us a message</a
        >
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    color: var(--neutral-12);
    background-image: linear-gradient(40deg, var(--primary-1), var(--secondary-3));
  }

  :global(.darkmode) .call-to-action {
    background-image: linear-gradient(40deg, var(--primary-9), var(--secondary-12));
  }

  :global(.darkmode) .call-to-action a.button {
    color: var(--neutral-0);
  }

  .call-to-action a,
  .call-to-action a:visited {
    padding: 1rem;
    color: var(--neutral-12);
    font-weight: bold;
    border: 3px solid var(--neutral-12);
    border-radius: 3px;
    text-decoration: none;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out;

    &:where(:hover, :focus) {
      color: var(--neutral-0);
      background-color: var(--neutral-12);
      text-decoration: underline;
    }
  }
</style>
