<div class="container">
  <div class="content__grid">
    <slot />
  </div>
</div>

<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;

  .content__grid {
    --background: var(--primary-1);
    --background-2: var(--primary-9);
    --action-color: var(--secondary-4);
    --action-color-state: var(--secondary-12);

    color: var(--neutral-12);

    // overide base anchor styles
    a:not(.button) {
      color: var(--action-color);

      &:visited {
        color: var(--action-color);
      }

      &:hover,
      &:focus {
        color: var(--action-color-state);
      }
    }
  }

  .darkmode .content__grid {
    --action-color: var(--secondary-10);
    --action-color-state: var(--secondary-12);
  }

  .content__grid {
    display: flex;
    flex-direction: column;
    gap: 36px;

    :where(.content-media__outer) {
      background-color: var(--background);
      border-radius: 8px;
    }

    .content-media__outer:nth-child(even) {
      background-color: var(--background-2);
      color: var(--neutral-0);
    }

    .content-media__grid {
      gap: 24px;
      padding: 0;
    }

    .content-media__outer {
      margin: 0;
      padding: 36px;
    }

    .content-media__outer > .container {
      padding: 0;
    }

    @include breakpoint(large) {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0;
      margin: 0;

      // resets .content-media__outer:nth-child(even) {...} for breakpoint styles
      .content-media__outer:nth-child(n) {
        --action-color: var(--secondary-12);
        --action-color-state: var(--secondary-10);

        background-color: var(--background);
        color: var(--neutral-12);
      }

      .content-media__outer {
        padding: 48px;
        height: 100%;
      }

      .content-media__grid {
        gap: 48px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
      }

      :where(.content-media__outer) {
        background-color: var(--background);
        border-radius: 0px;
      }

      .content-media__grid > div {
        grid-column: 2 / span 2;
      }
      .content-media__grid[data-reversed] > div {
        grid-column: 1 / span 2;
      }

      .content-media__outer:first-child,
      .content-media__outer:nth-child(4n),
      .content-media__outer:nth-child(4n + 1) {
        --action-color: var(--secondary-12);
        --action-color-state: var(--secondary-10);

        background-color: var(--background-2);
        color: var(--neutral-0);
      }
    }
  }
</style>
