---
import { Media } from 'accessible-astro-components';

type Props = {
  title?: string;
  reverseImg?: boolean;
  imgSrc: string;
};

const { imgSrc, reverseImg = false, title } = Astro.props;
---

<section class="content-media__outer my-24 md:my-48">
  <div class="space-content container flex h-full flex-col">
    {
      title ? (
        <header>
          <h2>{title}</h2>
        </header>
      ) : (
        ''
      )
    }
    <div
      class="content-media__grid content mt-12 grid grid-cols-1 items-center justify-items-center gap-24 md:grid-cols-2"
      data-reversed={reverseImg}
    >
      {!reverseImg ? <Media class="rounded-lg " src={imgSrc} /> : ''}
      <div class="flex flex-col justify-center gap-4 md:text-xl">
        <slot />
      </div>
      {reverseImg ? <Media class="rounded-lg" src={imgSrc} /> : ''}
    </div>

    <footer class="space-content mt-auto pt-12 text-base">
      <slot name="footer" />
    </footer>
  </div>
</section>

<style>
  footer:empty {
    display: none;
  }
</style>
