---
import { Media } from 'accessible-astro-components';

const { imgSrc, reverseImg = false } = Astro.props;
---

<section class="content-media__outer my-64">
  <div class="container">
    <div class="content-media__grid grid grid-cols-1 items-center gap-24 md:grid-cols-2" data-reversed={reverseImg}>
      {!reverseImg ? <Media class="rounded-lg" src={imgSrc} /> : ''}
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {reverseImg ? <Media class="rounded-lg" src={imgSrc} /> : ''}
    </div>
  </div>
</section>
