---
import type { ImageWithExpandedMetaData } from '@lib/sanity/types';
import ExternalImage from './ExternalImage.astro';

type Props = {
  title?: string;
  reverseImg?: boolean;
  imgSrc: ImageWithExpandedMetaData;
};

const { imgSrc, reverseImg = false, title } = Astro.props;
---

<section class="content-media__outer">
  <div class="space-content container flex h-full flex-col">
    {
      title ? (
        <header>
          <h2>{title}</h2>
        </header>
      ) : (
        ''
      )
    }
    <div
      class="content-media__grid content mt-12 grid grid-cols-1 items-center justify-items-center gap-24 md:grid-cols-2"
      data-reversed={reverseImg}
    >
      {
        !reverseImg ? (
          <ExternalImage
            imageSource={imgSrc}
            size="hero-sq"
            class="max-h-40 w-full rounded-lg object-cover object-center md:max-h-full"
          />
        ) : (
          ''
        )
      }
      <div class="flex flex-col justify-center gap-4 md:text-xl">
        <slot />
      </div>
      {
        reverseImg ? (
          <ExternalImage
            imageSource={imgSrc}
            size="hero-sq"
            class="max-h-40 w-full rounded-lg object-cover object-center md:max-h-full"
          />
        ) : (
          ''
        )
      }
    </div>

    <footer class="space-content mt-auto pt-12 text-base">
      <slot name="footer" />
    </footer>
  </div>
</section>

<style>
  footer:empty {
    display: none;
  }
</style>
