---
import { Icon } from 'astro-icon/components';

const defaultSubheadline =
  'Welcome to Ambient Lighting Limited, where we specialize in enhancing spaces with exquisite mood lighting. We believe that lighting has the power to create captivating atmospheres and elevate any environment.';

const {
  src = '/astronaut-hero-img.webp',
  heroImgAltText = 'An assortment of pendant lights agains a white wall.',
  headline = 'Captivating Moods for Striking Spaces',
  subheadline = defaultSubheadline,
} = Astro.props;
---

<section class="hero my-24 lg:my-48">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-balance text-4xl md:text-left lg:text-6xl lg:leading-tight">
          {headline}
        </h1>
        <p class="text-balance text-lg">{subheadline}</p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/contact">
            <Icon name="ion:paper-plane-outline" size={30} />
             Send us a message</a
          >
          <a class="button has-icon" href="#first-section" data-color="secondary">
            <Icon name="ion:arrow-down-circle-outline" size={30} />
             About us
          </a>
        </div>
      </div>
      <img
        class="hero-img lg:auto h-[50vmin] w-full rounded-lg object-cover lg:h-auto lg:rounded-full"
        src={src}
        alt={heroImgAltText}
        decoding="async"
      />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-6) 25%, var(--secondary-4));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-4) 25%, var(--secondary-6));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
