---
import { Icon } from 'astro-icon';

const defaultSubheadline =
  'Welcome to Ambient Lighting Limited, where we specialize in enhancing spaces with exquisite mood lighting. We believe that lighting has the power to create captivating atmospheres and elevate any environment.';

const {
  src = '/astronaut-hero-img.webp',
  heroImgAltText = 'An assortment of pendant lights agains a white wall.',
  headline = 'Captivating Moods for Striking Spaces',
  subheadline = defaultSubheadline,
} = Astro.props;
---

<section class="hero pb-24 pt-12 md:pb-36">
  <div class="space-content container relative z-20">
    <div class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 md:gap-24">
      <div class="flex flex-col gap-8">
        <h1>
          {headline}
        </h1>
        <p class="subheadline">{subheadline}</p>
        <a class="button has-icon mr-auto" href="/contact">
          <Icon pack="ion" name="paper-plane-outline" alt="" />
           Send us a message</a
        >
      </div>
      <img
        class="hero-img hidden aspect-square rounded-full object-cover md:block lg:max-h-[540px]"
        src={src}
        alt={heroImgAltText}
        decoding="async"
      />
    </div>
  </div>
  <div class="shape-divider-bottom">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
</section>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .text-gradient {
    background: linear-gradient(315deg, var(--primary-6) 25%, var(--secondary-4));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero {
    background-color: var(--primary-1);
    position: relative;
    h1,
    p {
      text-wrap: balance;
    }
  }

  .hero-img {
    box-shadow: 6.2px 12.5px 12.5px hsl(0deg 0% 0% / 0.31);
  }

  .shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: var(--primary-0);
    z-index: 10;
  }

  .shape-divider-bottom svg {
    max-width: unset;
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);

    @include breakpoint(medium) {
      height: 400px;
    }
    @include breakpoint(large) {
      height: 420px;
    }
  }

  .shape-fill {
    fill: var(--primary-1);
  }

  .subheadline {
    position: relative;
    padding-left: 1.8rem;
  }

  .subheadline::before {
    content: '';
    position: absolute;
    background-color: var(--action-color);
    width: 5px;
    left: 0;
    top: 5%;
    height: 2rem;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-4) 25%, var(--secondary-6));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .hero) {
    background-color: var(--neutral-11);
  }
  :global(.darkmode .shape-divider-bottom) {
    background-color: var(--background);
  }
  :global(.darkmode .shape-fill) {
    fill: var(--neutral-11);
  }
</style>
