---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const baseLayoutProps = Astro.props;
---

<BaseLayout {...baseLayoutProps}>
  <Header />
  <main id="main-content" class="mx-auto max-w-screen-2xl">
    <slot />
  </main>
  <Footer />
</BaseLayout>
